@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background-color: aqua; */
    background-color: #E5E5E5;
    margin: 0 auto;
}
body h1 {
    font-family: 'Righteous', cursive;
    font-size: 26px;
    color: #FFFFFF;
    margin-bottom: 5px;
}
body h2 {
    font-size: 18px;
    color: #FFFFFF;
}
body h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}
body h4 {
    font-size: 16px;
    color: #000000;
}
body h5 {
    font-size: 20px;
    color: #FFFFFF;
}
body p {
    font-size: 15px;
    color: #A6A6A6;
}

.top {
    background-color: #CF2B2B;
    width: 100%;
    height: 92px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 21px;
    position: fixed;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.dish {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 19px;
    margin-top: 141px;
}
.title > h1 {
    color: #333333;
}

.items {
    height: 240px;
    display: flex;
    overflow-x: scroll;
}

::-webkit-scrollbar {
    display: none;
  }

.item {
    background-color: #FFFFFF;
    min-width: 172px;
    height: 216px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 17px;
    margin-right: 16px;
    box-shadow: 5px 5px 10px -4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
}
.item img {
    width: 144px;
    height: 87px;
    border-radius: 4px;
    /* margin-top: 18px;
    margin-bottom: 8px; */
}

.infoItem {
    /* background-color: green; */
    width: 144px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap: wrap;
}

ion-icon {
    color: #32B72F;
    font-size: 25px;
    position: absolute;
    bottom: 5px;
    right: 10px;
    display: none;
  }

.selected {
    border: 5px solid #32B72F;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
}

.selectedIcon ion-icon {
    display: flex;
}

.drink {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 19px;
    margin-top: 27px;
}

.dessert {
    /* background-color: blue; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 19px;
    margin-top: 27px;
    margin-bottom: 108px;
}

.bottom {
    /* background-color: purple; */
    background-color: #FFFFFF;
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
/* -----CENTRALIZAR O TEXTO---- */
.finish {
    background-color: #CBCBCB;
    width: 364px;
    height: 61px;
    border-radius: 50px;    
}
.finish > h5 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .finishOFF {
    background-color: #CBCBCB;
} */

.finishON {
    background-color: rgb(3, 197, 3);
}