* {
    box-sizing: border-box;
}
ion-icon {
    font-size: 22px;
}
    body {
        font-family: 'Roboto', sans-serif;
        background-color: #E5E5E5;
    }

    .topMobile {
        display: none;
    }

    .topDesktop {
        background-color: white;
        width: 100%;
        height: 54px;
        position: fixed;
        top: 0;
    }
    .center {
        background-color: white;
        width: 935px;
        height: 54px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        position: fixed;
        top: 0;
        margin-left: calc((100vw - 935px)/2);
    }
    .topLeft {
        width: 135px;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
    }
    .line {
        background-color: #dbdbdb;
        width: 1px;
        height: 22px;
    }
    .topCenter {
        background-color: #dbdbdb;
        width: 215px;
        height: 28px;
        border-radius: 2px;
        border-style: solid;
        border-color: #dbd9d9;
        border-width: 0.5px;  
    }
    .topCenter p {
        color:#979797;
        text-align: center;
        margin-top: 5px;
    }
    .topRight {
        width: 135px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .viewport {
        background-color: #E5E5E5;
        width: 935px;
        height: auto;
        margin-left: calc((100vw - 935px)/2);
        display: flex;
    }

    /* ------USAR overflow: hidden; -------*/
    .story {
        background-color: white;
        width: 614px;
        height: 118px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 2px;
        border-style: solid;
        border-color: #dbd9d9;
        border-width: 0.5px;
        margin-top: 88px;
        padding-left: 18px;
    }
    .boxStory {
        width: 78px;
        height: 86px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    .boxStory img {
        width: 66px;
        height: 66px;
        border-radius: 50px;
    }
    .photoStory img {
        width: 56px;
        height: 56px;
        border-radius: 50px;
        position: absolute;
        top: 5.5px;
        left: 9px;
    }

    .post {
        background-color: white;
        width: 614px;
        height: 749px;
        margin-top: 24px;
        margin-bottom: 60px;
    }
    .namePost {
        height: 61px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 17px;
        padding-right: 15px;
    }
    .imgName {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imgName img {
        width: 32px;
        height: 32px;
        border-radius: 50px;
        margin-right: 15px;
    }
    .imgPost img{
        width: 100%;
        height: auto;
    }
    .infoPost {
        display: flex;
        flex-direction: column;
    }
    .interactions {
        height: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;

    }
    .firstInteractions {
        width: 93px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .likes {
        height: 34px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 17px;
        padding-bottom: 14px;
    }
    .likes img {
        width: 20px;
        height: 20px;
        border-radius: 50px;
        margin-right: 5px;
    }

    .right {
        margin-top: 112px;
        margin-left: 29px;
    }
    .sidebar {
        width: 293px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 8px;
    }
    .up {
        width: 67px;
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 24px;
    }
    .up img {
        width: 56px;
        height: 56px;
        border-radius: 50px;
        margin-right: 5px;
    }
    .down {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .line1 {
        margin-bottom: 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sugest {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
    }
    .profileSugest {
        display: flex;
        justify-content: left;
        align-items: center;
    }
    .profileSugest img {
        width: 32px;
        height: 32px;
        border-radius: 50px;
        margin-right: 5px;
    }
    .profileSugest h2 {
        color:#139EF2
    }

    .about p{
        font-size: 11px;
        color: #C7C7C7;
        margin-bottom: 10px;
    }

    .bottom {
        display: none;
    }

    @media (min-width: 614px) and (max-width:935px) {
        .viewport {
            background-color: #E5E5E5;
            width: 614px;
            height: auto;
            margin-left: calc((100vw - 614px)/2);
            display: flex;
        }
        .center {
            background-color: white;
            width: 614px;
            height: 54px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            position: fixed;
            top: 0;
            margin-left: calc((100vw - 614px)/2);
        }
        .sidebar {
            display: none;
        }
    }

    @media(max-width: 614px){
        .body {
            width: 100%;
        }
    
        .sidebar {
            display: none;
        }

        .viewport {
            background-color: #E5E5E5;
            width: 100%;
            height: auto;
            display: flex;
        }

        .left {
            width: 100%;

        }

        .topMobile {
            background-color: white;
            width: 100%;
            height: 54px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        .topDesktop {
            display: none;
        }
        .topLeft {
            display: none;
        }
        .topCenter {
            display: none;
        }
        .topRight {
            display: none;
        }

        .story {
            background-color: none;
            width: 100%;
        }
    
        /* .spaceBetweenPosts {
            background-color: #e5e5e5;
            border-bottom: 1px solid #dbd9d9;
            border-top: 1px solid #dbd9d9;
            border-style: solid;
            border-color: #dbd9d9;
            border-width: 0.5px;
            width: 100%;
            height: 60px;
        } */
    
        .bottom {
            background-color: white;
            width: 100%;
            height: 54px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            position: fixed;
            bottom: 0;
        }
    }
    
